/_build
/cover
/deps
/doc
erl_crash.dump
*.ez

/apps/rumbl/db
/apps/rumbl/*.ez

/apps/rumbl/erl_crash.dump

/apps/rumbl/node_modules

/apps/rumbl/priv/static/
/apps/rumbl/config/dev.secrets.exs
/apps/rumbl/config/prod.secrets.exs