/_build
/cover
/deps
/doc
erl_crash.dump
*.ez

/apps/rumble/db
/apps/rumble/*.ez

/apps/rumbleerl_crash.dump

/apps/rumble/node_modules

/apps/rumble/priv/static/

/apps/rumble/config/dev.secrets.exs
/apps/rumble/config/prod.secrets.exs